<div id="wysihtml5-toolbar" style="display: none;">
  <ul class="nav nav-pills">
    <li>
      <div class='btn-group'>
        <a class='btn' data-wysihtml5-command='formatBlock' data-wysihtml5-command-value='div'>Normal text</a>
        <a class='btn' data-wysihtml5-command='formatBlock' data-wysihtml5-command-value='h1'>h1</a>
        <a class='btn' data-wysihtml5-command='formatBlock' data-wysihtml5-command-value='h2'>h2</a>
      </div>
    </li>
    <li>
      <div class='btn-group'>
        <a class='btn bold' data-wysihtml5-command='bold' title='CTRL+B'>B</a>
        <a class='btn italic' data-wysihtml5-command='italic' title='CTRL+I'>I</a>
        <a class='btn underline' data-wysihtml5-command='underline' title='CTRL+U'>U</a>
      </div>
    </li>
    <li>
      <div class='btn-group'>
        <a class='btn' data-wysihtml5-command='insertUnorderedList' title='Unordered List'><i class='icon-list'></i></a>
        <a class='btn' data-wysihtml5-command='insertOrderedList' title='Ordered List'><i class='icon-th-list'></i></a>
      </div>
    </li>
    <li>
      <div class='btn-group'>
        <a class='btn red' data-wysihtml5-command="foreColor" data-wysihtml5-command-value="red">R</a>
        <a class='btn green' data-wysihtml5-command="foreColor" data-wysihtml5-command-value="green">G</a>
        <a class='btn blue' data-wysihtml5-command="foreColor" data-wysihtml5-command-value="blue">B</a>
      </div>
    </li>
  </ul>
</div>

