<section class="clients">
  <div class="page-header">
    <h2>Brochures</h2>
  </div>
  <ul>
    <li><%= link_to 'Help brochure', backend_therapist_brochure_path(id: :help) %></li>
    <li><%= link_to 'Suicidal Thoughts brochure', backend_therapist_brochure_path(id: :suicidal_thoughts) %></li>
    <li><%= link_to 'Advice for relatives', backend_therapist_brochure_path(id: :advice_for_relatives) %></li>
  </ul>
</section>
